<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Item</title>
    <style>

.order-list {
    list-style-type: none;
    padding: 0;
}

.order-item {
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ecf0f1;
    border-radius: 8px;
    margin-bottom: 10px;
}

.order-item span {
    display: block;
    margin-top: 5px;
}

strong {
    color: #2980b9;
}

/* Hover effect for order items */
.order-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}
    </style>
</head>
<body>
     <div class="card">
        <h2 class="card-heading">Ordered Items</h2>
        {% for item in ordered_item %}
        <ul class="order-list card-content">
            <li class="order-item">
                <span><strong>User</strong> ₹{{ request.user }}</span>
                <span><strong>Total Amout paid:</strong> ₹{{ item.subtotal }}</span>
                <span><strong>Ordered On:</strong> {{ item.order.order_date }}</span>
                <span><strong>Quantity:</strong> {{ item.quantity }}</span>
                <span><strong>Unit price:</strong> {{ item.unit_price }}</span>
                <span><strong>Item:</strong> {{ item.menu_item.name }}</span>
                <span><strong>Price:</strong> ₹{{ item.order.payment_status }}</span>
                <span><strong>Price:</strong> ₹{{ price }}</span>
            </li>
        </ul>
         {% endfor %}
    </div>
</body>
</html>