
.navbar {
    background-color: #007bff;
}
.navbar-brand {
    color: white !important;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: white !important;
}
.navbar-nav .nav-link:hover {
    color: #f8f9fa !important;
}


.cart-icon {
    position: relative;
    font-size: 1.5rem;
    color: white;
}
.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 0.8rem;
}

/* Hover Effects for Menu Items */
.menu-section {
    margin-top: 2rem;
}

.menu-section h2 {
    text-align: center;
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 1.5rem;
}

.menu-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.menu-item img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.menu-item h5 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.menu-item p {
    font-size: 0.9rem;
    color: #555;
}

.menu-item strong {
    font-size: 1rem;
    color: #007bff;
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.breadcrumb a {
    color: #2980b9;
    text-decoration: none;
    margin-right: 8px;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: #16a085;
}

.breadcrumb span {
    margin-right: 8px;
    color: #95a5a6;
}

