
.navbar {
    background-color: #007bff;
}
.navbar-brand {
    color: white !important;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: white !important;
}
.navbar-nav .nav-link:hover {
    color: #f8f9fa !important;
}


.cart-icon {
    position: relative;
    font-size: 1.5rem;
    color: white;
}
.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 0.8rem;
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.breadcrumb a {
    color: #2980b9;
    text-decoration: none;
    margin-right: 8px;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: #16a085;
}

.breadcrumb span {
    margin-right: 8px;
    color: #95a5a6;
}

