{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart - RK FoodStop</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">

</head>
<body>
    <div class="container mt-5">
        <form action="" method="POST">
            {% csrf_token %}
            <h4>Select Payment Method</h4>
            <label>
                <input type="radio" name="payment_method" value="cash" required> Cash
            </label>
            <br>
            <label>
                <input type="radio" name="payment_method" value="online" required> Online Payment
            </label>
            <br>
            <label>
                <input type="radio" name="payment_method" value="credit card" required> Credit card
            </label>
            <br>
            <button type="submit" class="btn btn-primary">Proceed</button>
        </form>
    </div>
</body>
</html>