{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<style>
        body {
            background-color: #f8f9fa; /* Light gray background for contrast */
        }
        .payment-container {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 30px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin: auto;
        }
        .payment-container h4 {
            font-weight: 700;
            font-size: 1.5rem;
            color: #007bff; /* Bootstrap's primary color */
            margin-bottom: 25px;
        }
        .custom-radio {
            font-size: 1.1rem;
            margin-bottom: 15px;
        }
        .btn-primary {
            background-color: #28a745;
            border-color: #28a745;
            font-size: 1.1rem;
            padding: 10px 20px;
            width: 100%;
            border-radius: 50px;
            transition: all 0.3s;
        }
        .btn-primary:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }
    </style>
<div class="container mt-5">
    <div class="payment-container">
        <form action="" method="POST">
            {% csrf_token %}
            <h4>Select Payment Method</h4>

            <div class="custom-radio">
                <input type="radio" name="payment_method" value="cash" id="cash" required>
                <label for="cash">Cash</label>
            </div>

            <div class="custom-radio">
                <input type="radio" name="payment_method" value="online" id="online" required>
                <label for="online">Online Payment</label>
            </div>

            <div class="custom-radio">
                <input type="radio" name="payment_method" value="credit card" id="credit_card" required>
                <label for="credit_card">Credit Card</label>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Proceed to Payment</button>
        </form>
    </div>
</div>

{% endblock %}